#######################################################################
# Core Python Environment
#######################################################################
python-dotenv

#######################################################################
# Backend (FastAPI, DB, Queue, API)
#######################################################################
fastapi
uvicorn[standard]
SQLAlchemy>=2.0
psycopg2-binary
redis
rq


#######################################################################
# Worker (ML Processing, Video Handling)
#######################################################################
# Video processing
numpy<2.0,>=1.26.0
av
moviepy
ffmpeg-python
opencv-python  

#######################################################################
# Utilities & Helper Libraries
#######################################################################
requests
pydantic>=2.0
httpx